html, body {
	padding: 0;
	margin: 0;
}
body {
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}

.header nav {
	display: none;
}

.header {
	text-align: center;
}
.header {
	background: #4bb5ef;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 50px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0 50px;
}
.header a {
	display: block;
	width: 28px;
	height: 18px;
	padding: 11px;
	margin: 5px;
	position: absolute;
	top: 0;
	left: 0;
}
.header a:before,
.header a:after {
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header a span {
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}

/* すべての項目を選択不可に */
* {
	user-select: none;
}

/* メニューを半透明に */
.mm-ocd__content {
	opacity: 0.8;
}

.mm-spn li.parent {
	line-height: 0;
	background-color: #ccc;
	cursor: auto;
}


.mm-spn li.img>div>div {
	padding-top: 3px;
	padding-bottom: 3px;
}
.mm-spn li.img>div>div::before{
	content: '';
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: contain;
	vertical-align: middle;
	image-rendering: pixelated;
}




canvas {
	position: absolute;
	top: 50px;
	left: 0;
}
#pow {
	position: absolute;
	z-index: 10;
	top: 8vh;
	left: 50vw;
	transform: translateX(-50%);
	font-size: x-large;
}